div{
    background-color: #E4F9F5;
    padding-top: 160px;
    position: relative;
    height: 100%;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    margin: 0 auto;
    width: 15%;
    font-size: 40px;
    font-family: 'Montserrat', Arial;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size: 25px;
}

.bottom-cloud{
    max-width: 15%;
    max-height: 15%;
    position: absolute;
    left: 300px;
    bottom: 300px;

}
.top-cloud{
    max-width: 15%;
    max-height: 15%;
    position: absolute;
    margin-left: 30%;
    right: 300px;
    top: 50px;
}

.mountain{
    /* min-height: 50%; */
    /* max-width: 60%; */
}

.profilePic{
    height: 20%;
    width: 10%;
    border-radius: 20%;
}

.profile{
    margin-top: 0;
}